* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*header/navbar begin*/
header {
  padding: 20px 35px;
  background-color:lightsteelblue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center;
  z-index: 999999;
}

header h1 a {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  background:midnightblue;
  color:lightsteelblue;
  padding: 5px 5px 5px 200px;
  position: relative;
  right: 40px;
}

header a {
  text-decoration: none;
  color: midnightblue;
}

header nav {
  margin: 7px;
}

header nav ul {
  display: flex;
  flex: wrap;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

header nav ul li a {
  padding: 8px 15px;
  font-weight: lighter;
  font-size: 24px;
  border-bottom: 3px solid midnightblue;
  margin: 5px;
  color: midnightblue;
}

header nav ul li a:hover {
  background: midnightblue;
  color: lightsteelblue;
  border-radius: 10px;
  font-style: bold;
}
/*header/navbar end*/

/*hero begin*/
.hero {
    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.hero h2 {
    margin: 50px;
    padding: 15px;
    background: midnightblue;
    color: lightsteelblue;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
}
/*hero end*/

/*about me begin*/
.about-me {
    margin: 15px;
    display: flex;
    flex: wrap;
    width: 100%;
}

.about-me div {
    margin: 0px;
    min-width: 250px;
    max-width: 250px;
    border-right: 5px solid lightsteelblue;
}

.about-me div h2 {
    font-size: 48px;
    text-decoration: none;
    color: lightsteelblue;
    text-align: right;
    padding-right: 15px;
}

.about-me p {
    padding: 20px;
    font-size: 20px;
}
/*about me end*/

/*work begin*/
.work {
    margin: 15px;
    display: flex;
    flex: wrap;
    height: 1000px;
}

.work-header {
    margin: 0px;
    min-width: 250px;
    max-width: 250px;
    border-right: 5px solid lightsteelblue;
    height: 100%;
    flex-grow: 1;
}

.work-header h2 {
    font-size: 48px;
    text-decoration: none;
    color: lightsteelblue;
    text-align: right;
    padding-right: 15px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 0 15px 0 15px;
}

.project1 {
    width: 99%;
    border: 5px solid midnightblue;
    height: 49%;
    position: relative;
    transition: 0.3s;
}

.project1::before {
    content:"";
    background-image: url("../assets/images/run-buddy.jpg");
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: inherit;
    opacity: 0.7;
}

.project1:hover {
    width: 99%;
    border: 5px solid midnightblue;
    height: 49%;
    position: relative;
    background-image: url("../assets/images/run-buddy.jpg");
    background-size: cover;
    background-position: inherit;
    opacity: 1;
}

.project {
    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    width: 49%;
    border: 5px solid midnightblue;
    height: 24%;
}

.project-name1 {
    background: midnightblue;
    color: lightsteelblue;
    padding: 10px 10px 10px 20px;
    position: relative;
    line-height: 1.5;
    top: 80%;
    display: inline-block;
}

.project-name {
    background: midnightblue;
    color: lightsteelblue;
    padding: 10px 10px 10px 20px;
    position: relative;
    line-height: 1.5;
    top: 60%;
    display: inline-block;
}

.projects > * {
    margin: 5px;
}
/*work end*/

/*contact me begin*/
.contact-me {
    margin: 15px;
    display: flex;
    flex: wrap;
    width: 100%;
}

.contact-me-header {
    margin: 0px;
    min-width: 250px;
    max-width: 250px;
    border-right: 5px solid lightsteelblue;
}

.contact-me-header h2 {
    font-size: 48px;
    text-decoration: none;
    color: lightsteelblue;
    text-align: right;
    padding-right: 15px;  
}

.contact-info {
    width: 100%;
    justify-content: space-around;
}

.contact-info ul {
    display: flex;
    flex: wrap;
    list-style: none;
    justify-content: space-around;
    height: 100%
}

.contact-info ul li {
    list-style: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.contact-info ul li a {
    color: lightsteelblue;
    font-size: 24px;
    border-bottom: 2px solid midnightblue;
    margin: 15px;
    padding-bottom: 5px;
    text-decoration: none;
}
/*contact info end*/